@import "src/styles/variables.module";
@import "src/styles/mixin.module";
.card{
  width: 400px;
  flex: 0 0 400px;
  border: 1px solid $lightest-gray-color;
  border-radius: $border-radius;
  padding: $gutter;
  user-select: none ;

  .cardHeader{
    display: flex;
    align-items: center;
    .avatar{
      position: relative;
      height: 45px;
      width: 45px;
      padding-right: $halfGutter;
      img{
        width: 100%;
        height: auto;
        object-fit: contain;
        }
    }
    .userInfo{
      span{
        display: block;
        color: $medium-gray-color;
        font-size: $fz-6;
        font-weight: 500;
        line-height: 18px;
        &:first-child{
          color: $primary;
          font-size: $fz-5;
          font-weight: 600;
        }
      }
    }
  }
  .cardBody{
    font-size: $fz-6;
    font-weight: 500;
    color: $medium-gray-color;
    line-height: 18px;
    padding: $gutter 0;
  }
  .cardFooter{
    border: 1px solid $lightest-gray-color;
    color: $primary;
    text-align: center;
    font-weight: 600;
    font-size: $fz-6;
    line-height: 40px;
    display: block;
    border-radius: $border-radius;
    transition: all ease-in-out 300ms;

    &:hover{
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12);
      color:darken($primary , 20%);
      font-size: $fz-5;

    }

  }
}