$extra-Small-size: 374px;
$xSmall-size: 600px;
$small-size: 768px;
$medium-size: 960px;
$large-size: 1200px;
$xLarge-size: 1400px;
$xXLarge-size: 1700px;


$green-color:#00704A;
$dark-gray-color: #444444;
$medium-gray-color: #666666;
$light-gray-color: #888888;
$lighter-gray-color: #A1A1A1;
$lightest-gray-color: #EEEEEE;
$gray-bg: #F5F5F5;
$primary :#4d13d1;

$gutter: 16px;
$doubleGutter: 32px;
$gutterNeg: -16px;
$halfGutter: 8px;
$halfGutterNeg: -8px;
$tripleGutter:64px;

$fz-1: 32px;
$fz-2: 26px;
$fz-3: 18px;
$fz-4: 16px;
$fz-5:14px;
$fz-6:12px;

$border-radius: 5px;


