@import "src/styles/variables.module";
@import "src/styles/mixin.module";
.formWrapper{
  max-width: 100%;
  padding:$gutter;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  @media screen and (min-width: $small-size) {
    max-width: 80%;
  }
  h2{
    color: $dark-gray-color;
    font-weight: 600;
    font-size: $fz-3;
    line-height: 40px;
    padding-bottom: $doubleGutter;
  }
  span{
    display: block;
     color: $dark-gray-color;
     font-weight: 600;
     font-size: $fz-2;
    padding-bottom: $doubleGutter;
  }
  .formStage{
    display: flex;
    min-height: 600px;
    flex-direction: column;
  }

}