@import "src/styles/variables.module";
@import "src/styles/mixin.module";
.navBar{
  background-color: $gray-bg;
  padding: $gutter 0;
  .navBarWrapper{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
    font-size: $fz-5;
    line-height: 32px;
    @include container;

    @media screen and (min-width:$medium-size){
      font-size: $fz-4;
    }
    .logo{
      color: $dark-gray-color;
      font-size: $fz-4;
      @media screen and (min-width:$medium-size){
        font-weight: 600;
      }
    }
    .authenticationBox{
      display: none;
      @media screen and (min-width: $small-size){
        color: $dark-gray-color;
        display: flex;
        gap: $gutter;
        @media screen and (min-width:$medium-size){
          font-weight: 600;
        }
        .link{
          padding: 0 $gutter;
          &:last-child {
            background-color: $primary;
            border-radius: $border-radius;
            color: #fff;
          }
        }
      }
    }
    .navbarItems{
      display: none;
      @media screen and (min-width: $small-size){
        @include unStyled-list;
        display: flex;
        gap: $gutter;
      }

    }
  }
}
.mobileMenu{
  display: block;
  background-image: url("/images/HamburgerMenu.svg");
  width: 20px;
  height: 20px;
  outline: none;
  border:none;
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (min-width: $small-size){
  display: none;
}
}